body {
  font-family: 'Work Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ffffba;
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.App-header-container {
  padding: 20px;
  color: #330b0b;
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  height: 100vh;
  background-color: rgba(255, 255, 186, 0.65);
}

.App-title {
  font-size: 3.5em;
  font-family: 'Niconne', cursive;
}

.App-intro {
  font-size: large;
}

.App-date {
  font-size: 3.5em;
  
}

.App-section-profile{
  background-color: #baffc9;
}

.profile-title{
  margin-top:0;
}

.App-countdown{
  font-size: 1.5em;
}

.App-location a{
  color:#330b0b;
  text-decoration: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
