.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ffffba;
  height: 100vh;
  text-align: center;
}

.App-header-container {
  padding: 20px;
  color: #7f7f7f;
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  
  height: 100%;
}

.App-title {
  font-size: 3.5em;
  font-family: 'Niconne', cursive;
}

.App-intro {
  font-size: large;
  font-family: 'Work Sans', sans-serif;
}

.App-date {
  font-size: 3.5em;
  font-family: 'Work Sans', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
